.CodeMirror-lines .age1 { background-color: rgba(191, 255, 191, .1); }
.CodeMirror-lines .age2 { background-color: rgba(191, 255, 191, .2); }
.CodeMirror-lines .age3 { background-color: rgba(191, 255, 191, .3); }
.CodeMirror-lines .age4 { background-color: rgba(191, 255, 191, .4); }
.CodeMirror-lines .age5 { background-color: rgba(191, 255, 191, .5); }
.CodeMirror-lines .age6 { background-color: rgba(191, 255, 191, .6); }
